Package: calculadora
Version: 0.7.1
Section: utils
Priority: optional
Architecture: all
Maintainer: wilson <wilson@gmail.com>
Depends: python3, python3-numpy
Description: Calculadora basica sin interfaz grafica
